<!-- 
* File: login.component.html
* Author: Juhász Roland
* Copyright: 2023, Juhász Roland
* Group: Szoft II N
* Date: 2023-02-07
* Github: https://github.com/Roleeygit
* Licenc: GNU GPL
-->

<main class="form-signin w-70 m-auto text-center">
    <form>

      <h1 class="h3 mb-4 fw-normal"><b>Bejelentkezés</b></h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="nev@pelda.com">
        <label for="email">Email cím</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password"placeholder="Jelszó">
        <label for="password">Jelszó</label>
      </div>

      <div class="checkbox mb-4">
        <label id="remember" >
          <input type="checkbox" value="remember-me" disabled> Jelszó megjegyzése!
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" disabled>Bejelentkezés</button>
      <a id="copyright" href="http://github.com/Roleeygit/Tojgli" target="_blank">
          <p class="mt-5 mb-3 text-muted">&copy; 2022–2023 EggShop</p>
      </a>
      <p>Egy kis bemutató a készülő vizsgaremek login felületéből! A hengert a <a href="/task">feladat</a> fülnél lehet megtalálni.</p>
    </form>
  </main>