.link 
{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
  
    &:hover 
    {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}
  
textarea:focus,
input[type="number"]:focus,
.uneditable-input:focus 
{
  border-color: #343a40;
  box-shadow: 0 0 0.7rem 0.2rem #000000;
   outline: 0;
 }

 .animated-background 
{
animation: animation-name 5s linear infinite;
background: linear-gradient(to left, #3a3a3a, #dddddd);
background-size: 400% 400%;
}

@keyframes animation-name 
{
  0% 
  {
    background-position: 0% 50%;
  }
  50% 
  {
    background-position: 100% 50%;
  }
  100% 
  {
    background-position: 0% 50%;
  }
}
    