// * File: app.component.scss
// * Author: Juhász Roland
// * Copyright: 2023, Juhász Roland
// * Group: Szoft II N
// * Date: 2023-02-06_07
// * Github: https://github.com/Roleeygit
// * Licenc: GNU GPL


.navbar {
    background-color: #343a40;
  
    .nav-item {
      a {
        color: #fff;
  
        &:hover {
          color: #070809;
        }
      }
    }
  }

  textarea:focus,
  input[type="number"]:focus,
  .uneditable-input:focus {
    border-color: #343a40;
    box-shadow: 0 0 0.7rem 0.2rem #000000;
    outline: 0;
  }


  
  .animated-background 
  {
  animation: animation-name 5s linear infinite;
  background: linear-gradient(to left, #3a3a3a, #dddddd);
  background-size: 400% 400%;
}

@keyframes animation-name 
{
  0% 
  {
    background-position: 0% 50%;
  }
  50% 
  {
    background-position: 100% 50%;
  }
  100% 
  {
    background-position: 0% 50%;
  }
}
    