// * File: app.component.scss
// * Author: Juhász Roland
// * Copyright: 2023, Juhász Roland
// * Group: Szoft II N
// * Date: 2023-02-06_07
// * Github: https://github.com/Roleeygit
// * Licenc: GNU GPL


.navbar {
    background-color: #343a40;
  
    .nav-item {
      a {
        color: #fff;
  
        &:hover {
          color: #070809;
        }
      }
    }
  }